<h1>Multiple object detection using pre trained model in TensorFlow.js</h1>
<p>Wait for the model to load before clicking the button to enable the webcam - at which point it will become visible to use.</p>
<section [ngClass]="{'invisible' : hideDemos}">
<p>
  Hold some objects up close to your webcam to get a real-time classification!
  When ready click "enable webcam" below and accept access to the webcam when the browser asks
  (check the top left of your window)
</p>
<div class="camView">
  <p [ngStyle]="predictionsLabelStyles">{{ predictionsLabel }}</p>
  <div [ngStyle]="highlighterStyles" class="highlighter"></div>
  <button [ngClass]="{'removed': hideButton}" (click)="enableCam()">Enable Webcam</button>
  <video #webcam autoplay muted width="640" height="480" (loadeddata)="predictWebcam()"></video>
</div>
</section>
